
<div class=" ">
			<div class="banner-img"></div>
			<img src="{{user.pic_url}}" alt="Profile Image" class="profile-img">
			<a class="name" (click)="emit(user.userName)"><h1>{{user.name}}</h1></a>
      <span>{{user.userType}}</span>
			<p class="description">Number of repositories: {{user.repositories}}</p>
			<div class="repoInfo">
        <h5>First three repo:</h5>
        <p class="repoNames" *ngFor="let el of user.repositoriesInfo; let i = index">{{i+1}}.
          <a href="{{el.repo_url}}" target="_blank">{{el.repo_name}}</a> </p>
      </div>
</div>
