.container {
    font-size: 10px;
    /* max-width: 1100px; */
    /* margin: 0 auto;
    padding: 0 3rem; */
    /* margin-top: 4rem; */
    text-align: center;
    text-align: center;


}

.containerMain{
  margin: 0 auto;
  padding: 0 3rem;
  background: url("../../../assets/images/backgroundPic.png");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
    color: #398f51;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-top: 35px;
    margin-bottom: 2rem;
}

h2{
    color: #777;
    font-size: 20px;
    font-weight: 400;
}

.image {
    /* margin-top: 4rem;
    margin-bottom: 5rem; */
}

.userType{
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  width: 70%;
  font-size: 35px;
  margin-top: -95px;
  color: #dadada;
  background-color: #115c21;
  box-shadow: 0px 2px 8px 0px rgb(139, 59, 59);
}

p{
  text-align: left;
  margin-left: 25px;
  font-size: 20px;
  color: rgb(59, 55, 55);
  margin-bottom: 7.5px;
}

.details {
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0px 2px 8px 0px grey;
  margin-left: 190px;
  width: 220%;
  height: 500px;
  background-color: #f6f6f6;
  position: relative;
}


.btn {
    /* display: block; */
    /* padding: 1.7rem 5.5rem; */
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e4dfdf;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;
    margin-top: 12rem;
    width: 120px;
    text-align: center;

    position: absolute;
    bottom: 20px;
    left: 45%;
}

.btn:hover {
    background: #c9c4c4;
}

.image {
    margin-top: 20px;
    border-radius: 120px;
    width: 100%;
    margin-bottom: 120px;
}


.box{
  display: flex;
  flex-direction: row;
}


h1 > a:link {
  text-decoration: none;
}
h1 > a:visited {
  color: black;
}
h1 > a:hover {
  color: rgb(40, 77, 77);
}

h1 > a:link {
  color: rgb(8, 8, 8);
}

a:link {
  text-decoration: none;
}

.orgDiv img {
  width: 65px;
  margin-top: -28px;
  cursor: pointer;
  position: absolute;
  left: 220px;
}

.imageContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

@media screen and (max-width: 1151px){
    .box{
        display: flex;
        flex-direction: column;
    }
    .btn{
      left: 40%;
    }

    .details{
      width: 80%;
      margin: 0 auto;
      margin-top: -6rem;
    }

    .image {
        margin-top: 20px;
        border-radius: 120px;
        width: 55%;
        /* margin-bottom: 90px; */
    }

    .imageContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .userType{
        width: 40%;
        font-size: 35px;
        margin-left: 10px;
        color: #dadada;
        background-color: #115c21;
        box-shadow: 0px 2px 8px 0px rgb(139, 59, 59);
      }
}
