<div class="container" *ngIf="data.user">
  <div class="containerMain">
    <div class="box">
        <div class="image">
            <img class="image" src="{{data.user.pic_url}}" alt="User's picture">
        </div>
        <div class="details">
          <h1><a href="{{data['user'].githubURL}}" target="_blank">{{data['user'].name}}</a></h1>
          <p>User Type: {{data['user'].userType}}</p>
          <p>Account Created at: {{data['user'].created_at}}</p>
          <p>Email {{data['user'].email}}</p>
          <p *ngIf="data['user'].userName">Github Username: {{data['user'].userName}}</p>
          <p>Followers: {{data['user'].followers}}</p>
          <p>Account Created at: {{data['user'].created_at}}</p>
          <p>First Three repos' name:
            <span *ngFor="let repo of data['user'].repositoriesInfo">
                  <a href="{{repo.repo_url}}" target="_blank">{{repo.repo_name}} </a>,
            </span>
          </p>
          <p *ngIf="data['user'].organization_name">Organization name: {{data['user'].organization_name}}</p>
          <div class="orgDiv" *ngIf="data.user.organization_picture">
            <p>Organization picture:</p>
            <a href="{{data.user.organization_site}}" target="_blank">
              <img src="{{data.user.organization_picture}}">
            </a>
          </div>
          <a routerLink="" class="btn"> Back</a>
        </div>
    </div>
  </div>
</div>
