<!-- <header>
  <h1 routerLink="">GitHub Users</h1>
</header>

    <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchVal">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  -->

   <nav>
        <ul>
            <li class="logo" routerLink="">Github Users</li>
            <div class="items">

            </div>
            <li class="search-icon">
                <input type="text"
                       placeholder="Search User"
                       [matAutocomplete]="auto"
                       [formControl]="myControl">
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option class="options"
                              *ngFor="let option of filteredOptions | async"
                              [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <label class="icon"  (click)="search()">
                    <span class="fa fa-search"> S </span>
                </label>
            </li>
        </ul>
    </nav>
<!-- <fa-icon class="awesomeSearch" [icon]="faSearch"></fa-icon> -->
<!-- [(ngModel)]="searchVal" -->
