/* h1{
  background-color: rgb(41, 39, 39);
  color: white;
  padding: 20px 50px;
  cursor: pointer;
}

h1:hover {
  color: beige;
} */

* {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav ul li.logo:hover {
  color: rgb(178, 238, 238);
}

.awesomeSearch {
  color: #000;
}

.options {
  color: #000;
}

nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}

nav ul div.items a:hover {
  color: cyan;
}

nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

nav ul .search-icon .icon:hover {
  background: #e6e6e6;
}

nav ul .search-icon .icon span {
  color: #222222;
  font-size: 18px;
}

.fa-search {
  color: #000;
}

@media screen and (max-width: 1052px) {
  nav {
    padding: 10px 40px 10px 0px;
  }

  nav ul li.logo {
    margin-left: 35px;
    width: 170px;
  }
  nav ul div.items {
    flex: 4;
  }
}

/* @media screen and (max-width: 464px){
     nav ul .search-icon input {
      width: px;
     }
} */
