 <button (click)="changeMode()">switcher</button>

 <div [ngClass]="[mode ? 'wrapper-grid' : 'wrapper-flex']"  >
    <app-user-item [ngClass]="[mode ? 'container': 'containerForListView']" *ngFor="let item of users | paginate: {
                itemsPerPage: 8,
  currentPage: page, totalItems: totalLength}"
  [user]="item"
  [mode]="mode"
  [routerLink]="['/users', item.userName]"
  (emitValue)="toDetails($event)"></app-user-item>
</div>

<div class="pagBtns">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
